#ext_menu-6 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-8 .navbar-toggler {
  color: #ffffff;
}
#header4-a .btn {
  font-size: 14px;
}
#header4-a H1 {
  text-align: center;
  font-size: 46px;
  color: #000000;
}
#header2-b P {
  text-align: left;
  font-size: 16px;
}
#header2-b H1 {
  font-size: 48px;
  text-align: left;
}
#header2-f P {
  text-align: left;
  font-size: 16px;
}
#header2-f H1 {
  font-size: 48px;
  text-align: left;
}
#header2-d H1 {
  text-align: left;
  font-size: 48px;
}
#header2-d P {
  font-size: 16px;
  text-align: left;
}
#header2-e H1 {
  font-size: 48px;
  text-align: left;
}
#header2-e P {
  text-align: left;
  font-size: 16px;
}
#header2-c P {
  text-align: left;
  font-size: 16px;
}
#header2-c H1 {
  font-size: 48px;
  text-align: left;
}
#ext_menu-g .navbar-toggler {
  color: #ffffff;
}
#msg-box4-h .mbr-section-title {
  font-size: 32px;
}
#msg-box4-h .lead P {
  font-size: 16px;
}
#ext_menu-k .navbar-toggler {
  color: #ffffff;
}
